<div class="container-fluid">
    <div class="container">
        <h2>Product Listing</h2>
    </div>
    <br>
    <div class="container">
        <div>
            <form class="product-form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="input-field col m3">
                        <input type="text" [readonly]="isUpdate" class="form-control" [ngClass]="{ 'is-invalid': submitted && productFormControl['title'].errors }" id="title" formControlName="title" placeholder="Product title" required>
                        <!-- <span class="text-danger"
                                *ngIf="(productFormControl['title'].touched || submitted) && productFormControl['title'].errors?.['required']">
                                Required
                        </span>
                        <span class="text-danger"
                                *ngIf="(productFormControl['title'].touched || submitted) && productFormControl['title'].errors?.['minlength']">
                                Minimum length required
                        </span> -->
                        <!-- More validation-->
                    </div>
                    <div class="input-field col m3">
                        <!-- <label for="priority">Product Description</label> -->
                        <input type="text" [readonly]="isUpdate" class="form-control" [ngClass]="{ 'is-invalid': submitted && productFormControl['description'].errors }" id="description" formControlName="description" placeholder="Product description" required>
                        <!-- <span class="text-danger"
                                *ngIf="(productFormControl['description'].touched || submitted) && productFormControl['description'].errors?.['required']">
                                Required
                        </span>
                        <span class="text-danger"
                                *ngIf="(productFormControl['description'].touched || submitted) && productFormControl['description'].errors?.['max']">
                                Range between 1 to 5
                        </span> -->
                    </div>
                    <div class="input-field col m3">
                        <!-- <label for="priority">Product Price</label> -->
                        <input type="text" [readonly]="isUpdate" class="form-control" [ngClass]="{ 'is-invalid': submitted && productFormControl['price'].errors }" id="price" formControlName="price" placeholder="Product price" required>
                        <!-- <span class="text-danger"
                                *ngIf="(productFormControl['price'].touched || submitted) && productFormControl['price'].errors?.['required']">
                                Required
                        </span>
                        <span class="text-danger"
                                *ngIf="(productFormControl['price'].touched || submitted) && productFormControl['price'].errors?.['max']">
                                Range between 1 to 5
                        </span> -->
                    </div>
                    <div class="input-field col m3">
                        <!-- <label for="brand">Select Brand</label> -->
                        <select id="brand" class="form-control"  formControlName="status" [ngClass]="{ 'is-invalid': submitted && productFormControl['brand'].errors }">
                            <option *ngFor="let brand of brandList" [ngValue]="brand">{{brand}}</option>
                        </select>
                        <!-- <span class="text-danger"
                                *ngIf="(productFormControl['brand'].touched || submitted) && productFormControl['brand'].errors?.['required']">
                                Required
                        </span> -->
                    </div>
                    <div class="input-field col m3">
                        <!-- <label for="category">Select Category</label> -->
                        <select id="category" class="form-control"  formControlName="status" [ngClass]="{ 'is-invalid': submitted && productFormControl['brand'].errors }">
                            <option *ngFor="let category of categoryList" [ngValue]="category">{{category}}</option>
                        </select>
                        <!-- <span class="text-danger"
                                *ngIf="(productFormControl['category'].touched || submitted) && productFormControl['category'].errors?.['required']">
                                Required
                        </span> -->
                    </div>
                    <div class="input-field col m3" *ngIf="!isUpdate">
                        <button type="submit" class="btn btn-success btn-sm" name="add" id="add">+Add</button>
                    </div>
                    <div class="input-field col m3" *ngIf="isUpdate">
                        <button type="submit" class="btn btn-success btn-sm" name="add" id="add">Yes</button>
                        <button type="button" class="btn btn-warning btn-sm" (click)="onCancel()" name="cancel" id="cancel">No</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="container">
            <div class="row height d-flex justify-content-center align-items-center">
              <div class="col-md-8">
                <div class="search">
                  <i class="fa fa-search"></i>
                  <input type="text" class="form-control" placeholder="Search" [formControl]="searchControl">
                  <button class="btn btn-primary" (click)="GetSearchedProduct()">Search</button>
                </div>            
              </div>            
            </div>          
        <br>
        <div class="text-danger" *ngIf="this.errorMsg != null">
            {{this.errorMsg}}
        </div>
        <!-- <div class="msg" *ngIf="this.successMsg != null">
            {{this.successMsg}}
        </div> -->
        <div class="mat-elevation-z8" *ngIf="this.errorMsg == null">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
    
        <!-- id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <!-- title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
    
        <!-- description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
    
        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <!-- Brand Column -->
        <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
            <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
        </ng-container>
    

        <!-- Category Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let element">
                <div class="button-container">
                    <button mat-icon-button (click)="Edit(element.id)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button (click)="Delete(element.id)"><mat-icon>delete</mat-icon></button>
                </div>
            </td>
        </ng-container>
        <!-- <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="Delete(element.id)"><mat-icon>delete</mat-icon></button>
            </td>
        </ng-container>   -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table> 
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    aria-label="Select page of product elements">
        </mat-paginator>
        </div>
    </div> 
</div>

  