@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

table {
width: 50%;
padding: 5px
}

th.mat-sort-header-sorted {
color: black;
}

body{
background-color:#eee;
font-family: "Poppins", sans-serif;
font-weight: 300;
}

.height{
height: 10vh;
}


.search{
position: relative;
box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    
}

.search input{

height: 60px;
text-indent: 25px;
border: 2px solid #d6d4d4;


}


.search input:focus{

box-shadow: none;
border: 2px solid blue;


}

.search .fa-search{

position: absolute;
top: 20px;
left: 16px;

}

.search button{

position: absolute;
top: 5px;
right: 5px;
height: 50px;
width: 110px;
background: blue;

}

.button-container {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .mat-container {
    display: flex;
    overflow: auto;
    flex-direction: column;
    max-height: 500px;
    min-width: 100px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  @media(max-width: 600px) {
    .mobile-label {
      width: 80px;
      display: inline-block;
          font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }
  }